@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500&family=Rye&family=Sen:wght@400;500;600;700;800&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@400;500;600;700&family=Work+Sans:wght@100;200;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-next:before, .slick-prev:before {
    font-family: slick;
    padding: 20px !important;
    height: 20px !important;
    width: 40px !important;
    font-size: 40px !important;
    line-height: 1;
    opacity: .75;
    color: #9b9a9a !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next {
    right: 168px !important;
}
.slick-dots li button:before {
    font-family: slick;
    font-size: 22px !important;
    line-height: 124px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color:blue !important ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.shownav {
    left: 0 !important;
}
.overflow_hidden{
    overflow: hidden !important;
}
